@import "./base.css";

/* 公用 */
img{width: 100%}
.mycenter{width:6.94rem;margin: 0 auto;}
.head{width: 100%;height: 0.83rem;background: #efefef;line-height: 0.83rem;position: fixed;z-index: 100;top: 0;}
.head .mycenter{display: flex;justify-content: space-between; }
.head a.return{color: #aea8a8;}
.head .title{font-size: #444;font-size: 0.3rem;}
.head .cart{font-size: 0.34rem;color: #929292;}
.marginb{height: 1.38rem;}
.foot-nav{height: 1.38rem;position: fixed;bottom: 0;width:100%;z-index: 100;background: #f5f5f5;}
.foot-nav .mycenter{display: flex;justify-content: space-between;position: relative;}
.foot-nav .mycenter a{text-align: center;width: 20%;}
.foot-nav .mycenter a .img{margin: 0.1rem auto 0.05rem; width: 0.74rem;height: 0.74rem;border-radius: 50%;background: none; }
    .foot-nav .mycenter a.active .img{background: -webkit-linear-gradient(#ff764a, #f13486); /* Safari 5.1 - 6.0 */
        background: -o-linear-gradient(#ff764a, #f13486); /* Opera 11.1 - 12.0 */
        background: -moz-linear-gradient(#ff764a, #f13486); /* Firefox 3.6 - 15 */
        background: linear-gradient(#ff764a, #f13486);}
    .foot-nav .mycenter a .img img{display: block;width: 0.38rem;    padding: 0.18rem 0;margin:0 auto;}
.foot-nav .mycenter a .txt{font-size: 0.26rem;color: #000;}
.foot-nav .mycenter a.gotop{position: absolute;top: -0.4rem;left: 0;right: 0; margin: auto;}
.foot-nav .mycenter a.gotop .img,.foot-nav .mycenter a.gotop .img img{width: 1.13rem;height: 1.05rem;padding: 0}
.margint{height: 0.83rem;}
/* 首页 */
.index-head{height:1.35rem;position: fixed;top: 0rem;z-index: 100;left: 0;right: 0;margin: 0 auto;padding-top: 0.35rem;background: rgba(0,0,0,0.5)}
.index-head .mycenter{display: flex;justify-content: space-between;}
.index-head .address{margin-top: 0.14rem;color: #fff;font-size: 0.23rem;}
.index-head form{position: relative;width: 5.43rem;height: 0.62rem;}
.index-head form input{width: 5.43rem;height: 0.62rem;background: #fff;border-radius: 8px;border: none;text-indent: 0.28rem;color: #c0c0c0;font-size: 0.22rem;}
.index-head form span{position: absolute;top: 0.16rem;right: 0.22rem;}
.index-head .user {margin: 0.15rem 0 0;}
.index-head .user i{color: #fff;}
.index-nav{background: #fff;border-bottom: 0.12rem solid #f0eaea;}
.index-nav .mycenter a{text-align: center;}
.index-nav .mycenter a span{color: #1d1d1d;font-size: 0.24rem;}
.index-nav .mycenter a .navimg{width: 0.7rem;height: 0.73rem;display: block;margin:0.22rem auto 0.1rem;background-repeat: no-repeat;background-size: 100%;background-position: center;}
.index-nav .mycenter a:nth-child(1) .navimg{background-image: url(../images/nav-1.png)}
.index-nav .mycenter a:nth-child(2) .navimg{background-image: url(../images/nav-2.png)}
.index-nav .mycenter a:nth-child(3) .navimg{background-image: url(../images/nav-3.png)}
.index-nav .mycenter a:nth-child(4) .navimg{background-image: url(../images/nav-4.png)}
.index-nav .mycenter a:nth-child(5) .navimg{background-image: url(../images/nav-5.png)}
.index-nav .mycenter a:nth-child(6) .navimg{background-image: url(../images/nav-6.png)}
.index-notice{border-bottom: 0.12rem solid #f0eaea;height: 1.28rem;}
.index-notice .notice-txt{width: 1rem;margin-top:0.25rem;}
.index-notice .notice-txt .notice-txt-t{font-size: 0.24rem;font-weight: bold;color: #232323;margin:  0 0 0 0.1rem;}
.index-notice .notice-txt .notice-txt-b{margin: 0.07rem 0 0; width: 0.86rem;height: 0.33rem;text-align: center;line-height: 0.33rem;background: url(../images/rectangle.png) no-repeat ;background-position: 0 0;background-size: 100%;color: #fff;font-size: 0.22rem;}
.index-notice .mycenter{display: flex;justify-content: space-around;}
.index-notice .line{width: 1px;height: 0.93rem;background: #bfbfbf;margin: 0.18rem 0 0 0.04rem;}
.index-notice .notice-content{font-size: 0.22rem;color: #1d1d1d;line-height: 1.28rem;}
.index-slide .swiper-container {width: 100%;height: 4.64rem;}
.index-slide .swiper-slide {text-align: center;font-size: 18px;background: #fff;/* Center slide text vertically */display: -webkit-box;display: -ms-flexbox;display: -webkit-flex;display: flex;-webkit-box-pack: center;-ms-flex-pack: center;-webkit-justify-content: center;justify-content: center;-webkit-box-align: center;-ms-flex-align: center;-webkit-align-items: center;align-items: center;}
.index-slide .swiper-slide img{width: 100%}
.index-nav{height: 1.6rem;}
.index-nav .mycenter{display: flex;justify-content: space-around;}
.index-express{margin: 0.23rem 0 0;font-size: 0.22rem;width: 68%}
.expressimg{margin-right: 0.1rem;width: 0.73rem;height: 0.73rem;display: block;background-repeat: no-repeat;background-size: 100%;background-position: center;}
.index-express .expressimg{background-image: url(../images/bcard-icon.png)}
.serviceTime .expressimg{background-image: url(../images/time-icon.png)}
.index-express  .expresstxt span:nth-child(1){font-weight: bold;}
.index-express .expresso{margin-top:0.05rem}
.serviceTime{width: 30%;margin: 0.23rem 0 0;font-size: 0.22rem;color: #1d1d1d;}
.serviceTimetxt {font-weight: bold;}

.activity{margin-top: 0.45rem;}
.activity .mycenter{ position: relative; height: 5.29rem; background: url(../images/activity-bg.png) no-repeat;background-size: cover}
.activity .mycenter .item{position: absolute;color: #fff;}
.activity .mycenter .item:nth-child(1){top: 2.6rem;left: 0.4rem;}
.activity .mycenter .item:nth-child(2){top: 2.6rem;left: 3.86rem;}
.activity .mycenter .item:nth-child(3){top: 3.95rem;left: 0.4rem;}
.activity .mycenter .item:nth-child(4){top:3.95rem;left: 3.86rem;}
.activity .mycenter .item .tit{font-size: 0.28rem;font-weight: bold;}
.activity .mycenter .item .desc{font-size: 0.18rem;    margin: 0.05rem 0 0.05rem;}
.activity .mycenter .item .go{position: relative;font-size:0.14rem;color: #fff;width: 0.75rem;height: 0.24rem;line-height: 0.24rem;text-align: center;border-radius: 8px;background: #fff;}
.activity .mycenter .item .go a,.activity .mycenter .item .go a span{display: block;width: 100%;height: 100%;color: #ffb507;}
.activity .mycenter .item .go i{display: inline-block;color: #fff;font-size: 0.08rem;color: #ffb507;}
.activity .mycenter .item:nth-child(1) .go a span,.activity .mycenter .item:nth-child(1) .go i {color: #fe3d91}
.activity .mycenter .item:nth-child(2) .go a span,.activity .mycenter .item:nth-child(2) .go i {color: #c854fe}
.activity .mycenter .item:nth-child(3) .go a span,.activity .mycenter .item:nth-child(3) .go i {color: #ffb60a}
.activity .mycenter .item:nth-child(4) .go a span,.activity .mycenter .item:nth-child(4) .go i {color: #ff6041}

.cooperation a,.cooperation a img{display: block;width: 100%;margin:0.33rem 0;}

.index-class .class-nav{display: flex;justify-content: space-around;height: 0.5rem;border-bottom: 1px solid #d2d2d2;}
.index-class .class-nav span{font-size: 0.26rem;color: #232323;}
.index-class .class-nav span.active{color: #e42e6b;position: relative;}
.index-class .class-nav span.active::before{position: absolute;content: "";width: 1.06rem;height: 4px;background: #e42e6b;bottom:0;}
.index-class .class-nav i{font-size: 0.08rem;color: #d2d2d2;}


.index-class .swiper2{margin-top: 0.38rem;height: 13rem;}
.index-class .swiper2 .swiper-slide{width: 100%}
.index-class .swiper2 .item{height: 5.8rem;border-radius: 6px;background: #f0eaea;margin-top: 0.3rem;}
.index-class .swiper2 .item:nth-child(1){margin: 0;}
.index-class .swiper2 .item .buy{font-size: 0.18rem;color: #e42e6b;margin: 0.12rem 0.26rem 0.12rem;}
.index-class .swiper2 .item .desc{width: 6.63rem;height: 1.36rem;margin: 0 auto; background: #fff;border-radius: 6px;padding: 0.26rem 0.33rem;font-size: 0.26rem;color: #0f0f0f;}
.index-class .swiper2 .item .desc .name{width: 3.3rem;}
.index-class .swiper2 .item .desc .line{width: 1px;height: 0.96rem;background: #d2d2d2;margin-left: 0.4rem;    margin-right: 0.08rem;}
.index-class .swiper2 .item .desc .money{width:2.16rem;text-align: center;font-size: 0.26rem;}
.index-class .swiper2 .item .desc .money .money-txt{color:#f20000;font-weight: bold;}
.index-class .swiper2 .item .desc .money .nomoney{font-size: 0.18rem;color: #aaa;}


.recommend .mycenter{border-top: 1px solid #d2d2d2;padding-top: 0.48rem;}
.recommend-list{display: flex;justify-content: space-between;flex-wrap: wrap;}
.recommend-list .item{margin-top: 0.32rem;width: 3.34rem;}
.recommend-list .item .itemimg{display: block;width: 100%;height: 2.6rem;}
.recommend-list .item .name{font-size: 0.26rem;color: #0f0f0f;margin-top: 0.22rem;}
.recommend-list .item .money{color: #f20000;font-size: 0.24rem;font-weight: bold;margin-top: 0.22rem;}
.recommend-list .item .money .nomoney{font-size: 0.12rem;color: #aaaaaa;font-weight: normal;}

.index-other{border: 0.12rem solid #f0eaea;border-left: none;border-right: none;margin-top: 0.3rem;padding: 0.22rem 0;}
.index-other .mycenter{display: flex;justify-content: space-between;}
.index-other .item{position: relative; width: 2.23rem;height: 1.16rem;background-position: 0 0;background-size: 100%;color: #fff;}
.index-other .item .itemimg{position: absolute; width: 0.42rem;height: 0.33rem;background-position: 0;background-size: cover;margin: 0.4rem 0 0 0.2rem}
.index-other .item:nth-child(1){background-image: url(../images/bg1.png)}
.index-other .item:nth-child(1) .itemimg{background-image:url(../images/truck-icon.png)}
.index-other .item:nth-child(2){background-image: url(../images/bg2.png)}
.index-other .item:nth-child(2) .itemimg{background-image:url(../images/computer-icon.png)}
.index-other .item:nth-child(3){background-image: url(../images/bg3.png)}
.index-other .item:nth-child(3) .itemimg{background-image:url(../images/position-icon.png)}

.index-other .item .itemtxt{font-size: 0.18rem;margin: 0 0 0 0.65rem; }
.index-other .item .itemtxt p:nth-child(1){font-weight: bold;margin-top: 0.24rem;font-size: 0.18rem;}
.index-other .item .itemtxt p.desc{font-size: 0.18rem;}

.footer{padding: 0.33rem 0 0.7rem;}
.footer .footer-nav{display: flex;justify-content: center;height: 0.4rem;}
.footer .footer-nav a{border-right: 2px solid #bababa;height: 0.22rem;padding: 0 0.18rem;font-size: 0.2rem;}
.footer .footer-nav a:nth-child(1){padding-left: 0;}
.footer .footer-nav a:last-child{border: none;padding-right: 0;}
.footer p{text-align: center;color: #969696;margin-top: 0.12rem;font-size: 0.2rem}
.footer .copy{font-size: 0.16rem;}



/* 产品专区 */
.product-nav{position: fixed;top: 0.83rem;height: 0.8rem;width:100%; border-bottom: 1px solid #e6e6e6;line-height: 0.8rem;}
.product-nav .mycenter{display: flex;justify-content: space-around;}
.product-nav div.li i{display:none;font-size: 0.08rem;}
.product-nav div.li{font-size: 0.26rem;width: 20%;text-align: center}
.product-nav div.active{color: #f75564;}
.product-nav div.active i{color: #fa6956;display: inline-block;}
.product-list {width: 100%;padding-top: 1.63rem;margin-top: 0.6rem;}
.product-list .item{display: flex;width: 100%;height: 2.16rem;margin-bottom: 0.22rem;}
.product-list .item:last-child{margin:0;}
.product-list .item .itemimg{width: 2.74rem;height: 2.16rem;}
.product-list .item .itemimg img{display: block;width: 100%;height: 100%;}
.product-list .item .itemdesc{margin-left: 0.3rem;}
.product-list .item .itemdesc .tit{font-size: 0.26rem;color: #0e0e0e;margin-top: 0.12rem;}
.product-list .item .itemdesc .money{color: #f30002;margin-top: 0.18rem}
.product-list .item .itemdesc .nomoney{font-size: 0.18rem;color: #aaaaaa;margin-top: 0.1rem;}
.product-list .item .itemdesc .sales{font-size: 0.18rem;color: #444444;margin-top: 0.05rem;}
.load{margin: 0.56rem;color: #aaaaaa;font-size: 0.18rem;text-align: center;}



/* 产品详情 */
.productimg .swiper-container {width: 100%;height: 4.64rem;}
.productimg .swiper-slide {width:100%;text-align: center;font-size: 18px;background: #fff;/* Center slide text vertically */display: -webkit-box;display: -ms-flexbox;display: -webkit-flex;display: flex;-webkit-box-pack: center;-ms-flex-pack: center;-webkit-justify-content: center;justify-content: center;-webkit-box-align: center;-ms-flex-align: center;-webkit-align-items: center;align-items: center;}
.productimg .swiper-slide img{width: 100%;display: block;}
.productinfo .productdesc{margin-top: 0.45rem;position: relative;margin-left: 0.18rem}
.productinfo .share{position: absolute;top: 0.05rem;right:0.1rem;}
.productinfo .share i{font-size: 0.45rem;}
.productinfo .productdesc .productname{font-size: 0.26rem;color: #101010;}
.productinfo .productdesc .producttxt{font-size: 0.18rem;color: #afafaf;margin-top: 0.16rem;}
.productinfo .productdesc .money{font-size: 0.26rem;margin-top: 0.25rem;}
.productinfo .productdesc .money .moneytxt{color: #0f0f0f;}
.productinfo .productdesc .money .moneynum{color: #f20001;font-weight: bold}
.productinfo .productdesc .money .moneydel{font-size: 0.15rem;color: #adadad;}
.express{margin: 0.18rem 0;border-top: 1px solid #e6e6e6;border-bottom: 1px solid #e6e6e6;padding: 0.22rem 0;font-size: 0.18rem;color: #aaaaaa;}
.express .mycenter{display: flex;padding-left: 0.16rem;justify-content: space-between;}
.express .mycenter .express-r{margin-right: 0.18rem;}
.express .mycenter .isfree,.express .mycenter .isexpress{color: #f20000;}
.rule{margin-top: 0.22rem;}
.rule .tit{font-size: 0.26rem;color: #101010;margin-left: 0.24rem;}
.rule p:nth-child(1){margin-top: 0.22rem;}
.rule p{line-height: 0.5rem;font-size: 0.18rem;color: #444444;}
.rule .img{width: 6rem;margin: 0.42rem auto 0.2rem;}
.rule .img img{width: 100%}
.product-foot{display: flex;justify-content: space-between; position: fixed;bottom: -1px;width: 100%;height: 1.06rem;border-top: 1px solid #e6e6e6;z-index: 100;background:#fff;}

.product-foot .zx,.product-foot .sc{width:20%}
.product-foot span{display: block;text-align: center; color: #636363;}
.product-foot span:nth-child(1) i{font-size: 0.36rem;}
.product-foot span:nth-child(1){margin-top: 0.25rem;}
.product-foot span:nth-child(2){font-size: 0.25rem;margin-top: 0.08rem;}
.product-foot .kt{width: 60%;text-align: center;height: 0.8rem;line-height: 0.8rem;margin-top: 0.25rem;
    background: -webkit-linear-gradient(left, #ff764a , #f13486); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(right, #ff764a, #f13486); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(right, #ff764a, #f13486); /* Firefox 3.6 - 15 */
    background: linear-gradient(to right, #ff764a , #f13486); color: #fff;font-size: 0.26rem;}


/* 团购专区 */
.group-nav{height: 1.03rem;border-bottom: 1px solid #e6e6e6;}
.group-nav .mycenter{display:flex;justify-content: space-between;}
.group-nav .mycenter a{width: 50%;display: block;text-align: center;color: #0f0f0f;font-size: 0.26rem;}
.group-nav .mycenter a p.t{margin-top: 0.18rem;margin-bottom: 0.06rem}
.group-nav .mycenter a p span{font-size: 0.12rem;}
.group-nav .mycenter a p:nth-child(2){color: #bababa;}
.group-nav .mycenter a.active,.group-nav .mycenter a.active p:nth-child(2){color: #f85568;}
.group-list {margin-top: 0.28rem;}

.group-list .item{position: relative; width: 100%;height: 5.42rem;border: 1px solid #e1e1e1;border-radius: 8px;font-size: 0.26rem;margin-top: 0.44rem;}
.group-list .item:nth-child(1){margin: 0}
.group-list .name{margin: 0.1rem 0 0 0.4rem;color: #0f0f0f;}
.group-list .desc{margin: 0.1rem 0 0 0.4rem;color: #cfcfcf;}
.group-list .monry{margin: 0.1rem 0 0 0.4rem;color: #f20000;}
.group-list .volume{margin: 0.1rem 0 0 0.4rem;color: #454545;font-size: 0.18rem}
.group-list .gogroup{position: absolute;bottom: 0.4rem;right: 0.25rem;font-size: 0.26rem; width: 1.42rem;height: 0.39rem;background: -webkit-linear-gradient(left, #ff764a , #f13486); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(right, #ff764a, #f13486); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(right, #ff764a, #f13486); /* Firefox 3.6 - 15 */
    background: linear-gradient(to right, #ff764a , #f13486);color: #fff;border-radius: 3px;display: block;text-align: center;line-height: 0.39rem;}
    .group-list .gogroup i{font-size: 0.2rem}


/* 登陆注册 */
form#login,form#register{margin-top: 0.33rem;}
form#login label,form#register label{position: relative;width: 6.94rem;height: 0.99rem;display: block;}
#login input,form#register input{text-indent: 0.4rem; width: 6.94rem;height: 0.99rem;border: 1px solid #dfdfdf;border-radius: 3px;}
form#login label,form#register label{margin-top: 0.16rem;}
form#login label:nth-child(1){margin-top: 0rem;}
form#login label:nth-child(3){position: relative;}
form#register label:nth-child(2) .codeimg{width: 1.4rem;height: 100%;}
form#register label:nth-child(2) .codeimg img{width: 100%;}
form#register label:nth-child(3) #getcode{position: absolute;top: 0;right: -1px;border-radius: 3px; height: 1.09rem;display: block;width: 2.34rem;background: #efefef;color: #444;text-align: center;line-height: 0.99rem;font-size: 0.26rem;}
.login-forget {margin: 0.28rem auto 0.46rem;text-align: right;font-size: 0.2rem;}
.login-forget a{color: #db0100;}
form#login button,form#replace-form button,form#evaluate-form button, form#register button,form#retrievePassword button,form#resetPassword button,form#modifyPassword button,.perfect-cen form button,form#online .mycenter button{border-radius: 3px; width: 6.94rem;height: 0.99rem;color: #fff;font-size: 0.28rem;border:none;background: -webkit-linear-gradient(left, #ff764a , #f13486); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(right, #ff764a, #f13486); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(right, #ff764a, #f13486); /* Firefox 3.6 - 15 */
    background: linear-gradient(to right, #ff764a , #f13486);}
.login-regidter{margin-top: 0.36rem;font-size: 0.2rem;text-align: right;}
.login-regidter span:nth-child(1){color: #0f0f0f;}
.login-regidter a{color:#dd0000;text-decoration: underline;}
form#register .register-greement input.checkbox{width: 0.19rem;height: 0.19rem;border: 1px solid #dfdfdf;}
form#register .register-greement{margin: 0.36rem 0 0.98rem;font-size: 0.2rem;color: #0f0f0f;}
form#register .register-greement a{color: #da0000;}
.register-success{text-align: center;font-size: 0.22rem;margin: 1.50rem 0 3.16rem;}
.register-success p.gowhere{margin-top: 0.73rem;}
.register-success p.successtxt{margin-top: 0.4rem;font-size: 0.36rem;color: #0f0f0f;}
.register-success img{display: block;width: 1.38rem;height:1.38rem;margin: 0 auto;}





form#retrievePassword,form#resetPassword,form#modifyPassword{margin-top: 0.48rem;}
form#retrievePassword label,form#resetPassword label,form#modifyPassword label{width: 100%;height:0.85rem;line-height: 0.85rem; display: block;border-bottom: 2px solid #e9e9e9;position: relative;}
form#retrievePassword label span,form#resetPassword label span,form#modifyPassword label span{text-align: justify;position: absolute;left: 0.1rem;width: 1.63rem;top: 0;height: 100%;display: block;font-size: 0.26rem;}
form#retrievePassword label span i,form#resetPassword label span i,form#modifyPassword label span i{display: inline-block /* Opera */; padding-left: 100%;}
form#retrievePassword label input,form#resetPassword label input,form#modifyPassword label input{border: none;position: absolute;left: 2.3rem;top:0;display: block;width: 4.45rem;height: 0.75rem;}
form#retrievePassword label a{width: 1.72rem;display: block;height: 0.6rem;text-align: center;line-height: 0.6rem;position: absolute;top: 0.11rem;right: 0rem;background: -webkit-linear-gradient(left, #ff764a , #f13486); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(right, #ff764a, #f13486); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(right, #ff764a, #f13486); /* Firefox 3.6 - 15 */
    background: linear-gradient(to right, #ff764a , #f13486);color: #fff;}
form#retrievePassword  button,form#resetPassword button,form#modifyPassword button,form#modifyPassword button{margin-top: 3rem;}

form#modifyphone{margin-top: 0.2rem;}
form#modifyphone label{width: 100%;margin-top: 0.26rem;display: block;}
form#modifyphone label input{width: 100%;background: #f2f2f2;text-indent: 0.25rem;height: 0.66rem;display: block;color: #c3c3c3;border-radius: 3px; border:none;}
form#modifyphone label p{font-size: 0.3rem;color: #676767;margin-bottom: 0.22rem;}
form#modifyphone .inpinfo{display: flex;justify-content: space-between;}
form#modifyphone .inpinfo input{width: 5rem;}
form#modifyphone .inpinfo .getcode{width: 1.7rem;height: 0.66rem;border: 1px solid #e6e6e6;border-radius: 3px;color: #6f6f6f;font-size: 0.2rem;text-align: center;line-height: 0.66rem;}
form#modifyphone .btns{    width: 100%;display: flex;justify-content: space-around; border-top: 1px solid #dddddd;border-bottom: 1px solid #dddddd;position: fixed;bottom: 0px;height: 1.15rem;}
form#modifyphone .btns button{margin-top: 0.23rem; width: 2.65rem;height: 0.71rem;border: none;text-align: center;background: #aaaaaa; line-height: 0.71rem;color: #fff;}
form#modifyphone .btns button:nth-child(2){ background: -webkit-linear-gradient(left, #ff764a , #f13486); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(right, #ff764a, #f13486); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(right, #ff764a, #f13486); /* Firefox 3.6 - 15 */
    background: linear-gradient(to right, #ff764a , #f13486);}
form#modifyPassword label{border-bottom: 1px solid #dbdbdb;}
form#modifyPassword label span{width: 1.96rem;font-size: 0.28rem;}
form#modifyPassword label input{font-size: 0.19rem;}

.voucher-list .mycenter {display: flex;justify-content: space-between;flex-wrap: wrap;}
.voucher-list .mycenter .item{width: 3.34rem;height: 1.81rem;position: relative;background-repeat: no-repeat;background-position: 0;background-size: 100% 100%; overflow: hidden;margin-top: 0.44rem;}
.voucher-list .mycenter .item:nth-child(1){background-image:url(../images/coupon-bg-1.png);}
.voucher-list .mycenter .item:nth-child(2){background-image:url(../images/coupon-bg-2.png);}
.voucher-list .mycenter .item:nth-child(3){background-image:url(../images/coupon-bg-3.png);}
.voucher-list .mycenter .item:nth-child(4){background-image:url(../images/coupon-bg-4.png);}
.voucher-list .mycenter .item:nth-child(5){background-image:url(../images/coupon-bg-5.png);}
.voucher-list .mycenter .item:nth-child(6){background-image:url(../images/coupon-bg-6.png);}
.voucher-list .mycenter .item .money{margin: 0.2rem 0 0 0.26rem;color: #fff;font-weight: bold;}
.voucher-list .mycenter .item .money .moneytxt{font-size: 0.28rem;}
.voucher-list .mycenter .item .money .moneynum{font-size: 0.35rem;}
.voucher-list .mycenter .item .limit{margin: 0.3rem 0.2rem 0 0;color: #fff;font-size: 0.18rem;}
.voucher-list .mycenter .item p,.voucher-list .mycenter .item div{font-size: 0.15rem;color: #fff;}
.voucher-list .mycenter .item p.condition{margin: 0.12rem 0 0.05rem 0.3rem;}
.voucher-list .mycenter .item .time{margin: 0rem 0 0rem 0.3rem}

/* 地址列表 */
.address-list{}
.address-list .item{width:100%;height:2.26rem;margin-top:0.26rem;border: 1px solid #dddddd;border-left: none;border-right: none;}
.address-list .item .name-phone{display: flex;justify-content: space-between;font-size: 0.27rem;color: #666666;margin-top: 0.24rem;}
.address-list .item .addresstxt{font-size: 0.2rem; color: #999;margin-top: 0.28rem;padding-bottom: 0.3rem;border-bottom: 1px solid #dddddd;}
.address-list .item .option{display: flex;justify-content: space-between;line-height: 0.84rem;font-size: 0.2rem;}
.address-list .item .btns a{border-radius: 3px; width: 1.15rem;height: 0.45rem;text-align: center;display: inline-block;line-height: 0.45rem;}
.address-list .item .btns a:nth-child(1){background: -webkit-linear-gradient(left, #ff764a , #f13486); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(right, #ff764a, #f13486); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(right, #ff764a, #f13486); /* Firefox 3.6 - 15 */
    background: linear-gradient(to right, #ff764a , #f13486);color: #fff;}
    .address-list .item .btns a:nth-child(2){border: 1px solid #dddddd;color: #666;}
.newadd{width: 100%;border-top: 1px solid #dddddd;position: fixed;bottom: 0;left: 0;height: 1.21rem;}
.newadd a,form#newaddress .setaddress a{display: block;margin: 0.24rem auto 0; text-align: center;line-height: 0.71rem;width: 4.26rem;color: #fff;background: -webkit-linear-gradient(left, #ff764a , #f13486); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(right, #ff764a, #f13486); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(right, #ff764a, #f13486); /* Firefox 3.6 - 15 */
    background: linear-gradient(to right, #ff764a , #f13486);}

form#newaddress{}
form#newaddress label{position: relative; height: 1.31rem;border-bottom: 1px solid #dddddd;width: 100%;display: block;color: #656565;line-height: 1.31rem;font-size: 0.22rem;}
form#newaddress label input{border: none;position: absolute;left: 1.46rem;text-indent: 0.18rem; top:0.32rem;display: block;width: 5.35rem;height: 0.66rem;background: #f2f2f2;}
form#newaddress .setaddress{position: fixed;bottom: 0;left: 0;width: 100%;}
form#newaddress .setaddress{border-top: 1px solid #dddddd;border-bottom: none;}
form#newaddress label .selecttxt{width: 100%}
form#newaddress label .descaddress{position: relative;}
form#newaddress label .selecttxt select{display: inline-block;width: 1.59rem;height: 0.66rem;border-radius: 3px;border: none;background: #f2f2f2;}
form#newaddress label .selecttxt span:nth-child(2){position: absolute;left: 1.46rem;}

.personal-info{margin-top: 0.27rem;}
.personal-info .mycenter {display: flex;justify-content: space-between;font-size: 0.2rem;color: #666;}
.personal-info .item{height: 0.82rem;line-height: 0.82rem; width: 100%;border: 1px solid #efefef;border-left: none;border-right: none;}
.personal-info .item:nth-child(1){margin-top: 0}
.personal-info .item:nth-of-type(2){margin-top: 0.2rem;}
.personal-info .item{margin-top: 0.04rem;}
.personal-info .item .thumbimg{display: block;width: 0.38rem;height: 0.38rem;border-radius: 50%;overflow: hidden;}
.personal-info .item .thumbimg img{width: 100%;   }


.perfect-top{}
.perfect-top .mycenter{margin: 0.3rem auto 0.7rem;border-bottom: 1px solid #e0e0e0;}
.perfect-top .mycenter .myimg{width: 1.45rem;height: 1.45rem;border-radius: 50%;overflow: hidden;}
.perfect-top .mycenter .myimg img{width: 100%;display: block;height: 100%;}
.perfect-top .mycenter .myimg-txt .imgtxt{margin-top: 0.24rem;width: 1.45rem;text-align: center;margin-bottom: 0.68rem;}
.perfect-top .mycenter .myimg-txt .imgtxt a{color: #444;font-size: 0.24rem;text-align: center;}
.perfect-top .mycenter .fixed-info{margin-left: 0.95rem;font-size: 0.26rem;color: #454545}
.perfect-top .mycenter .fixed-info p{margin-top: 0.32rem;}
.perfect-top .mycenter .fixed-info p:nth-child(1){margin-top: 0.2rem;}

.perfect-cen label{position: relative;height: 0.95rem;border-bottom: 1px solid #d5d5d5;display: block;line-height: 0.95rem;}
.perfect-cen label:last-child{border-bottom: none; }
.perfect-cen label input{position: absolute;left: 1.95rem;top: 0.32rem;display: block;border:none;}
.perfect-cen label span:nth-of-type(1){display: inline-block;left: 1.95rem; width: 1.15rem;margin-left: 0.22rem;text-align: justify;height: 100%;font-size: 0.24rem;}
.perfect-cen label span i {display: inline-block /* Opera */; padding-left: 100%;}
.perfect-cen label span:nth-of-type(2){position: absolute;right: 0.36rem;top: 0rem;display: block;color: red;}

.perfect-cen label .radiotxt{position: absolute;left: 1.95rem;top:0;}
.perfect-cen label .radiotxt input:nth-child(1){left: 0;}
.perfect-cen label .radiotxt input:nth-of-type(2){left: 1rem;}
.perfect-cen label .radiotxt i{margin-left: 0.5rem;}
.perfect-cen .last-label{border-bottom: 0;}
.perfect-cen form button{margin: 0.6rem auto 2rem; }


.detail-info {position: relative;height: 2.82rem;background: #333;width: 100%;overflow: hidden;}
.detail-info .mask-info{ margin-top: 0.47rem;padding-left: 0.8rem;background:rgba(0,0,0,0.5);height: 1.28rem;}
.detail-info .mask-info .mycenter{display: flex;}
.detail-info .mask-info .mycenter .txt{color: #fff;margin: 0.26rem 0 0 0.32rem;font-size: 0.22rem;}
.detail-info .mask-info .mycenter .txt .money{margin-top: 0.21rem;}
.detail-info .mask-info a{ position: absolute;bottom: 0 ;right:0.33rem;border-radius: 3px;font-size: 0.25rem; display: block;width: 1.85rem;height: 0.62rem;background: #f84644;text-align: center;line-height: 0.62rem;color: #fff;}
.detail-info .infoimg{width: 1.43rem;height: 1.43rem;border: 1px solid #fff;border-radius: 50%;overflow: hidden;}
.detail-info .infoimg img{width: 100%;}
.detail-list .item{line-height: 0.83rem; height:0.83rem;border-top:1px solid #e4e4e4;}
.detail-list .item .mycenter{display: flex;justify-content: space-between;font-size: 0.23rem;color: #666;} 
.detail-list  .item:nth-of-type(1){border-top: none;}

form#online {margin-top: 0.33rem;}
form#online input{text-indent: 0.4rem;width: 100%;height: 0.99rem;border-radius: 3px;border: 1px solid #dfdfdf;color: #101010;margin-bottom: 0.4rem;}
form#online .recharge-type{width: 100%;height: 2.4rem;border: 1px solid #dddddd;}
form#online .recharge-type .recharge-tit{line-height: 0.4rem;background: #f2f2f2;padding-left: 0.28rem; font-size: 0.2rem;color: #555;height: 0.4rem;border-bottom: 1px solid #dddddd;}
form#online .recharge-type .recharge-con{display: flex;justify-content: space-around;margin-top: 0.52rem;}
form#online .recharge-type .recharge-con div.active{border-color: #ff5e00;}
form#online .recharge-type .recharge-con .item{position: relative; width: 2.765rem;height: 0.88rem;border: 2px solid #dedede;}
form#online .recharge-type .recharge-con .item img{width: 100%;height: 100%;display: block;}
form#online .recharge-type .recharge-con .item i{display: none;position: absolute;right: 0.1rem;bottom: 0.1rem;font-size:0.15rem;color: #ff5e00;}
form#online .recharge-type .recharge-con div.active i{display: block;}
form#online .mycenter button{margin-top: 0.68rem;}





.evaluate-info{margin: 0.46rem 0 0; padding-bottom: 0.46rem; border-bottom: 1px solid #e8e8e8;}
.evaluate-info .mycenter{display: flex;}
.evaluate-info .evaluate-info-img{width: 0.91rem;height: 0.91rem;border: 1px solid #dddddd;}
.evaluate-info .evaluate-info-img img{width: 100%;display: block;height: 100%;}
.evaluate-info .evaluate-info-txt{margin: 0 0 0 0.2rem;color: #0f0f0f;font-size: 0.24rem;}
.evaluate-info .evaluate-info-txt .money{color: #f20000;margin-top: 0.18rem;}
form#evaluate-form{width: 100%;display: block;padding: 0.3rem 0;}
form#evaluate-form .evaluate-form-box{width: 100%;border-bottom: 0.13rem solid #ececec;padding-bottom: 0.46rem;}
form#evaluate-form p,form#replace-form p{color: #0f0f0f;font-size: 0.28rem;}
form#evaluate-form #evaluate-form-textarea,form#replace-form textarea{width: 100%;min-height: 1.2rem;display: block;border: none;text-align: left;color: #a0a0a0;font-size: 0.22rem;}
form#evaluate-form .evaluate-form-img{width: 1.52rem;height: 1.54rem;border: 1px solid #ddd;display: block;}
form#evaluate-form .evaluate-form-img img{width: 0.6rem;height: 0.5rem;display: block;margin: 0.52rem auto 0;}
form#evaluate-form button,form#replace-form button{display: block;width: 4.56rem;height: 0.88rem;margin: 0.6rem auto 0;}

.choice-replace{padding: 0.46rem 0 0.46rem;border-bottom: 1px solid #f0f0f0;}
.choice-replace p{font-size: 0.26rem;color: #666;}
.choice-replace p:nth-child(2){margin-top: 0.3rem;}
.choice-replace p img{width: 0.15rem;height: 0.26rem;display: inline-block;}
form#replace-form{}
.replace-form-box{width: 100%;border-bottom: 0.13rem solid #ececec;padding-bottom: 0.46rem;}
.replace-form-box p{margin: 0.34rem 0 0.3rem}

.shoppingCart-no-con{padding: 1.1rem 0}
.shoppingCart-no-con p{font-size: 0.28rem;color: #666666;text-align: center;line-height: 0.4rem;}
.shoppingCart-no-con p a{color: #f84643;text-decoration: underline}
.shoppingCart-no-con p:nth-child(3){margin-top: 0.2rem}
.shoppingCart-no-img{width: 3.8rem;margin: 0.5rem auto;}

.myCircle-info{width: 100%;height: 2.85rem;background: url(../images/circle-bg.png) no-repeat;background-size: 100%}
.myCircle-info p:nth-child(1){display:block; position: absolute;right: 0.4rem;top: 1.5rem;font-size: 0.3rem;color: #f7516c;}
.myCircle-info p:nth-child(2){position: absolute;right:2rem;top: 1.9rem;font-size: 0.3rem;color: #fff;}

.myCircle-nav{display: flex;border-bottom: 1px solid #e4e4e4;font-size: 0.25rem;}
.myCircle-nav .item{width: 100%;text-align: center;height: 0.95rem;line-height: 0.95rem;}
.myCircle-nav div.active{border-bottom: 1px solid  #fd823e;}
.myCircle-con .myCircle-con-t{height: 0.8rem;color: #fff; margin-top:2px;line-height: 0.8rem; display: flex;text-align: center;font-size: 0.22rem;background: -webkit-linear-gradient(left, #ff764a , #f13486); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(right, #ff764a, #f13486); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(right, #ff764a, #f13486); /* Firefox 3.6 - 15 */
    background: linear-gradient(to right, #ff764a , #f13486); }
.myCircle-con .myCircle-con-t .item{width: 50%;}
.myCircle-con-b{display: flex;}
.myCircle-con-b .item{width: 50%;text-align: center;height: 0.72rem;color: #666;line-height: 0.72rem;font-size: 0.2rem;border-bottom: 1px solid #dddddd;}
 
.deposit-nav{width: 100%;display: flex;height: 0.8rem;border-bottom: 1px solid #e6e6e6;}
.deposit-nav .item{width: 50%;text-align: center;line-height: 0.8rem;font-size: 0.26rem;}
.deposit-nav .item i{font-size: 0.12rem}
.deposit-nav div.active,.deposit-nav div.active i{color:#f85568;} 

.deposit-list .item{height: 1.2rem;line-height: 1.2rem;color: #444444; border-bottom: 1px solid #e6e6e6;font-size: 0.26rem;}

.logisticsDetails-info{border: 1px solid #dddddd;margin: 0.25rem 0;font-size: 0.24rem;border-left: none;border-right: none;}
.logisticsDetails-info .mycenter div{margin: 0.27rem 0 0 0.34rem;}
.logisticsDetails-info .mycenter div:last-child{margin-bottom: 0.34rem;}
.logisticsDetails-info .mycenter div span:nth-child(1),.logisticsDetails-info-num .mycenter div span:nth-child(1){color: #666666;}
.logisticsDetails-info .mycenter div span:nth-child(2),.logisticsDetails-info-num .mycenter div span:nth-child(2){color: #333333;margin-left: 0.38rem;}
.logisticsDetails-info-num {border: 1px solid #dddddd;margin: 0.25rem 0;font-size: 0.24rem;border-left: none;border-right: none;}
.logisticsDetails-info-num .mycenter div{margin: 0.27rem 0 0.34rem 0.34rem;}

.logistics-info .mycenter{position: relative;}
.logistics-info .mycenter::before{content: "";left: 0.46rem; position: absolute;width: 1px;height: 100%;background: #e8e8e8;}
.logistics-info .mycenter .item::before{content: ""; position: absolute;top: 0;left: -0.54rem;width: 15px;height: 15px;background: #e8e8e8;border-radius: 50%;}
.logistics-info .mycenter .item{position: relative; width: 5.8rem;border-bottom: 1px solid #e4e4e4;margin: 0.32rem 0 0 0.85rem;padding-bottom: 0.24rem; font-size: 0.24rem;color: #999999;}
.logistics-info .mycenter .item a{color: #69a5e7;}
.logistics-info .mycenter .item p.time{margin-top: 0.24rem;}
.logistics-info .mycenter .item:last-child{border: none;}
.logistics-info .mycenter div.active{color: #333333;}
.logistics-info .mycenter div.active::before{background: url(../images/arrive.png) no-repeat;background-size: 100%;}





/* 推广 */
.extension{background: url(../images/share-bg.png) #fff;background-size:100% 100%;width: 100%;height: 100%;overflow: hidden;position: relative;}
.extension .extension-thumb{position: absolute;top: 0.54rem;left: 0.68rem;width: 1.33rem;height: 1.33rem;border: 2px solid #e4e5e7;}
.extension .extension-thumb img{display: block;width: 100%;height: 100%;}
.extension p{color: #333333;font-size:0.34rem;position: absolute;top: 0.75rem;left: 2.37rem}
.extension p.name2{top: 1.26rem;}
.extension p span{color:#fe5c4d;}
.qucode {position: absolute;bottom: 1.18rem;left: 1.62rem;width: 2rem;height: 2rem}

/* 收藏 */
.collection .title{margin: 0.29rem 0;border: 1px solid #e6e6e6;border-left: none;border-right: none;padding: 0.26rem 0 0.26rem 0.33rem;font-size: 0.2rem}
.collection .collection-list{border-bottom: 1px solid #e6e6e6;padding-bottom: 0.5rem}
.collection .collection-list .item .mycenter{display: flex;justify-content: space-between;height: 1.62rem;padding-top: 0.16rem;margin-bottom: 0.16rem}
.collection .collection-list .item input{display: block;margin:0.6rem 0;}
.collection .collection-list .item .itemimg{width: 1.88rem;height: 1.47rem;}
.collection .collection-list .item .itemtext{width: 4.47rem;font-size: 0.26rem;color: #0f0f0f;position: relative;}
.collection .collection-list .item .itemtext .name{margin-top: 0.16rem;}
.collection .collection-list .item .itemtext .money{font-weight: bold;margin-top: 0.1rem;}
.collection .collection-list .item .itemtext a{position: absolute;bottom: 0;right: 0;width: 1.52rem;height: 0.52rem;display: block;border:1px solid #dddddd;text-align: center;line-height: 0.52rem}
.allcollection{margin-top: 0.4rem;}
.allcollection .mycenter{display: flex;justify-content: space-between;}

















































































































































