<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- css -->
    <link rel="stylesheet" href="https://at.alicdn.com/t/font_992693_ypgvy0k9mhr.css">
    <link rel="stylesheet" href="../css/style.css">
    <!-- js -->
    <script src="../js/jquery.min.js"></script>
    <script src="../js/main.js"></script>
    <script src="../js/rem.js"></script>
    <title>账户信息</title>
</head>
<body>
    <!-- 头部 -->
    <div class="head">
        <div class="mycenter">
            <a href="javascript:;" onclick="window.history.back();" class="return">
                <i class="iconfont icon-zuojiantou"></i>
            </a>
            <div class="title">新增地址</div>
            <a href="" class="cart">
                <!-- <i class="iconfont icon-gouwuche"></i> -->
            </a>
        </div>
    </div>
    <div class="margint"></div>
    <!--  -->
    <div class="personal-info">
        <div class="item">
            <div class="mycenter">
                <span>头像</span>
                <span class="thumbimg">
                    <img src="../images/thumbimg.png" alt="">
                </span>
            </div>
        </div>
        <div class="item">
            <div class="mycenter">
                <span>昵称</span>
                <span class="name">
                    国境
                </span>
            </div>
        </div>
        <div class="item">
            <div class="mycenter">
                <span>账号</span>
                <span class="name">
                    UID21483
                </span>
            </div>
        </div>
        <div class="item">
            <div class="mycenter">
                <span>手机号</span>
                <span class="phone">
                    <a href="">
                        13935985214>
                    </a>
                </span>
            </div>
        </div>
        <div class="item">
            <div class="mycenter">
                <span>我的推荐人</span>
                <span class="peo">
                    <a href="">
                        (UID21483) >
                    </a>
                </span>
            </div>
        </div>
        <div class="item">
            <div class="mycenter">
                <span>收款地址</span>
                <span class="peo">
                    <a href="">
                         >
                    </a>
                </span>
            </div>
        </div>
        <div class="item">
            <div class="mycenter">
                <span>朋友圈推广</span>
                <span class="peo">
                    <a href="">
                         >
                    </a>
                </span>
            </div>
        </div>
        <div class="item">
            <div class="mycenter">
                <span>设置交易密码</span>
                <span class="peo">
                    <a href="">
                         >
                    </a>
                </span>
            </div>
        </div>
    </div>
</body>
</html>