<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- css -->
    <link rel="stylesheet" href="https://at.alicdn.com/t/font_992693_7wxxn6s6tvc.css">
    <link rel="stylesheet" href="../css/style.css">
    <!-- js -->
    <script src="../js/jquery.min.js"></script>
    <script src="../js/main.js"></script>
    <script src="../js/rem.js"></script>
    <title>积分兑换</title>
</head>
<body>
    
</body>
</html>