<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- css -->
    <link rel="stylesheet" href="https://at.alicdn.com/t/font_992693_ypgvy0k9mhr.css">
    <link rel="stylesheet" href="../css/style.css">
    <!-- js -->
    <script src="../js/jquery.min.js"></script>
    <script src="../js/main.js"></script>
    <script src="../js/rem.js"></script>
    <title>团购专区</title>
</head>
<body>
    <!-- 头部 -->
    <div class="head">
        <div class="mycenter">
            <a href="javascript:;" onclick="window.history.back();" class="return">
                <i class="iconfont icon-zuojiantou"></i>
            </a>
            <div class="title">团购专区</div>
            <a href="" class="cart">
                <i class="iconfont icon-gouwuche"></i>
            </a>
        </div>
    </div>
    <div class="margint"></div>
    <!-- nav -->
    <div class="group-nav">
        <div class="mycenter">
            <a href="" class="active">
                <p class="t">老带新团 <span class="iconfont icon-xiasanjiao"></span></p>
                <p>仅新用户可参团</p>
            </a>
            <a href="">
                <p class="t">全民参与</p>
                <p>新老用户均可参团</p>
            </a>
        </div>
    </div>
    <!--  -->
    <div class="group-list">
        <div class="mycenter">
            <div class="item">
                <div class="itemimg">
                    <img src="../images/boutique-1.png" alt="">
                </div>
                <p class="name">拼团|意大利泰利蒙特酒庄慕达干红葡萄酒</p>
                <p class="desc">意大利干红葡萄酒，酒评家James</p>
                <p class="monry">拼团价：<span class="moneytxt">¥1380</span></p>
                <p class="volume">销量：20瓶</p>
                <a class="gogroup" href="">去开团 <i class="iconfont icon-youjiantou"></i></a>
            </div>
            <div class="item">
                <div class="itemimg">
                    <img src="../images/boutique-1.png" alt="">
                </div>
                <p class="name">拼团|意大利泰利蒙特酒庄慕达干红葡萄酒</p>
                <p class="desc">意大利干红葡萄酒，酒评家James</p>
                <p class="monry">拼团价：<span class="moneytxt">¥1380</span></p>
                <p class="volume">销量：20瓶</p>
                <a class="gogroup" href="">去开团 <i class="iconfont icon-youjiantou"></i></a>
            </div>
        </div>
    </div>
    <!-- other -->
    <div class="index-other">
        <div class="mycenter">
            <div class="item">
                <div class="itemimg fl"></div>
                <div class="itemtxt fl">
                    <p>真酒直供</p>
                    <p class="desc">马上为您送到</p>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="item">
                <div class="itemimg fl"></div>
                <div class="itemtxt fl">
                    <p>微商城+电话订购</p>
                    <p class="desc">全程配送服务</p>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="item">
                <div class="itemimg fl"></div>
                <div class="itemtxt fl">
                    <p>服务专线</p>
                    <p class="desc">400-1040-199</p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!-- 底部 -->
    <div class="footer">
        <div class="mycenter">
            <div class="footer-nav">
                <a href="">关于我们</a>
                <a href="">联系我们</a>
                <a href="">客服中心</a>
                <a href="">红酒知识</a>
                <a href="">公司活动</a>
            </div>
            <p class="copy">COPYRIGHT &COPY; 2018 万国红酒网</p>
            <p class="phone">客服电话：400-104-0199</p>
            <p class="record">晋ICP备15008398号-2</p>
        </div>
    </div>
    <!-- 固定底部 -->
    <div class="marginb"></div>
    <div class="foot-nav">
        <div class="mycenter">
            <a href="" class="active">
                <div class="img">
                    <img src="../images/home-no-icon.png" alt="首页">
                </div>
                <div class="txt">首页</div>
            </a>
            <a href="">
                <div class="img">
                    <img src="../images/class-icon.png" alt="">
                </div>
                <div class="txt">分类</div>
            </a>
            <a id="gotop" class="gotop"  href="javascript:$('html, body').animate({scrollTop: 0},300);;">
                <div class="img">
                    <img src="../images/gotop.png" alt="">
                </div>
            </a>
            <a href="">
                <div class="img">
                    <img src="../images/card-icon.png" alt="">
                </div>
                <div class="txt">购物车</div>
            </a>
            <a href="">
                <div class="img">
                    <img src="../images/member-icon.png" alt="">
                </div>
                <div class="txt">个人中心</div>
            </a>
        </div>
    </div>
</body>
</html>