<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- css -->
    <link rel="stylesheet" href="https://at.alicdn.com/t/font_992693_7wxxn6s6tvc.css">
    <link rel="stylesheet" href="../css/style.css">
    <!-- js -->
    <script src="../js/rem.js"></script>
    <title>登陆</title>
</head>
<body>
    <!-- 头部 -->
    <div class="head">
        <div class="mycenter">
            <a href="javascript:;" onclick="window.history.back();" class="return">
                <i class="iconfont icon-zuojiantou"></i>
            </a>
            <div class="title">登陆</div>
            <a href="" class="cart">
                <!-- <i class="iconfont icon-gouwuche"></i> -->
            </a>
        </div>
    </div>
    <div class="margint"></div>
    <!-- form -->
    <form action="" id="login" method="">
        <div class="mycenter">
            <label for="">
                <input type="text" name="user" placeholder="手机号">
            </label>
            <label for="">
                <input type="password" name="pass" placeholder="密码">
            </label>
            <div class="login-forget">
                    忘记密码？
            </div>
            <button type="submit" >立即登陆</button>
        </div>
    </form>
    <!--  -->
    <div class="login-regidter">
        <div class="mycenter">
            <span>没有账号？</span>
            <a href="register.html">立即注册</a>
        </div>
    </div>
</body>
</html>