<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- css -->
    <link rel="stylesheet" href="../css/style.css">
    <!-- js -->
    <script src="../js/rem.js"></script>
    <title>修改手机绑定</title>
</head>
<body>
     <!-- 头部 -->
    <div class="head">
        <div class="mycenter">
            <a href="javascript:;" onclick="window.history.back();" class="return">
                <i class="iconfont icon-zuojiantou"></i>
            </a>
            <div class="title">修改手机绑定</div>
            <a href="" class="cart">
                <!-- <i class="iconfont icon-gouwuche"></i> -->
            </a>
        </div>
    </div>
    <div class="margint"></div>
    <!-- form -->
    <form action="" method="" id="modifyphone">
        <div class="mycenter">
            <label for="">
                <p>新的手机号</p>
                <input type="text" name="phone" placeholder="请输入新的手机号码" />
            </label>
            <label for="">
                <p>新的手机号</p>
                <div class="inpinfo">
                    <input type="text" name="newphone" placeholder="请输入新的手机号码" />
                    <a href="" class="getcode">获取验证码</a>
                </div>
            </label>
            <label for="">
                <p>交易密码</p>
                <input type="text" name="pass" placeholder="请输入交易密码" />
            </label>
        </div>
        <div class="btns">
            <button type="reset">重置</button>
            <button type="submit">提交</button>
        </div>
    </form>
</body>
</html>