<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- css -->
    <link rel="stylesheet" href="https://at.alicdn.com/t/font_992693_ypgvy0k9mhr.css">
    <link rel="stylesheet" href="../css/style.css">
    <!-- js -->
    <script src="../js/jquery.min.js"></script>
    <script src="../js/main.js"></script>
    <script src="../js/rem.js"></script>
    <title>我的推广</title>
</head>
<body>
    <div class="extension">
        <div class="extension-thumb">
            <img src="../images/extension-thumb.png" alt="">
        </div>
        <p class="name">我是<span>小王</span></p>
        <p class="name2">我正在使用<span>万国红酒</span></p>
        <div class="qucode">
            <img src="../images/qucode.png" alt="">
        </div>
    </div>
</body>
</html>