<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- css -->
    <link rel="stylesheet" href="https://at.alicdn.com/t/font_992693_e74bng3b4v7.css">
    <link rel="stylesheet" href="../css/style.css">
    <!-- js -->
    <script src="../js/jquery.min.js"></script>
    <script src="../js/main.js"></script>
    <script src="../js/rem.js"></script>
    <title>在线充值</title>
</head>
<body>
    <!-- 头部 -->
    <div class="head">
        <div class="mycenter">
            <a href="javascript:;" onclick="window.history.back();" class="return">
                <i class="iconfont icon-zuojiantou"></i>
            </a>
            <div class="title">在线充值</div>
            <a href="" class="cart">
                <!-- <i class="iconfont icon-gouwuche"></i> -->
            </a>
        </div>
    </div>
    <div class="margint"></div>
    <!--  -->
    <form action="" method="" id="online">
        <div class="mycenter">
            <input type="text" placeholder="请输入充值的金额">
            <div class="recharge-type">
                <div class="recharge-tit">
                    选择支付方式
                </div>
                <div class="recharge-con">
                    <div class="item active">
                        <img src="../images/alipay.png" alt="">
                        <i class="iconfont icon-xuanzhong"></i>
                    </div>
                    <div class="item">
                        <img src="../images/wechat.png" alt="">
                        <i class="iconfont icon-xuanzhong"></i>
                    </div>
                </div>
            </div>
            <button type="submit">确认充值</button>
        </div>
    </form>
</body>
</html>