<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- css -->
    <link rel="stylesheet" href="https://at.alicdn.com/t/font_992693_ypgvy0k9mhr.css">
    <link rel="stylesheet" href="../css/style.css">
    <!-- js -->
    <script src="../js/jquery.min.js"></script>
    <script src="../js/rem.js"></script>
    <script src="../js/main.js"></script>
    <title>产品专区</title>
</head>
<body>
    <!-- 头部 -->
    <div class="head">
        <div class="mycenter">
            <a href="javascript:;" onclick="window.history.back();" class="return">
                <i class="iconfont icon-zuojiantou"></i>
            </a>
            <div class="title">产品专区</div>
            <a href="" class="cart">
                <i class="iconfont icon-gouwuche"></i>
            </a>
        </div>
    </div>
    <!-- 产品nav -->
    <div class="product-nav">
        <div class="mycenter">
            <div class="active li">
                <span>销量</span><i class="iconfont icon-xiasanjiao"></i>   
            </div>
            <div class="li">
                <span>评分</span><i class="iconfont icon-xiasanjiao"></i>
            </div>
            <div class="li">
                <span>价格</span><i class="iconfont icon-xiasanjiao"></i>
            </div>
            <div class="li">
                <span>最新</span><i class="iconfont icon-xiasanjiao"></i>
            </div>
            <div class="li">
                <span>筛选</span>
            </div>
        </div>
    </div>
    <!-- 产品列表 -->
    <div class="product-list">
        <div class="mycenter">
            <a class="item">
                <div class="itemimg">
                    <img src="../images/product.png" alt="">
                </div>
                <div class="itemdesc">
                    <div class="tit">
                        意大利泰里蒙特酒庄慕达干红葡萄酒新款上市
                    </div>
                    <div class="money">
                        <span class="symbol">￥</span>
                        <span class="monrytxt">13.8-28.80</span> 
                    </div>
                    <div class="nomoney">
                        <span class="nomoneytxt">非会员价</span>
                        <span class="nomoneynum"><del>￥30</del></span>
                    </div>
                    <div class="sales">
                        <span class="salestxt">销量:</span>
                        <span class="salesnum">100</span>
                    </div>
                </div>
            </a>
            <a class="item">
                <div class="itemimg">
                    <img src="../images/product.png" alt="">
                </div>
                <div class="itemdesc">
                    <div class="tit">
                        意大利泰里蒙特酒庄慕达干红葡萄酒新款上市
                    </div>
                    <div class="money">
                        <span class="symbol">￥</span>
                        <span class="monrytxt">13.8-28.80</span> 
                    </div>
                    <div class="nomoney">
                        <span class="nomoneytxt">非会员价</span>
                        <span class="nomoneynum"><del>￥30</del></span>
                    </div>
                    <div class="sales">
                        <span class="salestxt">销量:</span>
                        <span class="salesnum">100</span>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <!-- 下拉加载 -->
    <div class="load">
        <div class="mycenter">
            下拉查看更多
        </div>
    </div>
    <!-- 固定底部 -->
    <div class="marginb"></div>
    <div class="foot-nav">
        <div class="mycenter">
            <a href="" class="active">
                <div class="img">
                    <img src="../images/home-no-icon.png" alt="首页">
                </div>
                <div class="txt">首页</div>
            </a>
            <a href="">
                <div class="img">
                    <img src="../images/class-icon.png" alt="">
                </div>
                <div class="txt">分类</div>
            </a>
            <a id="gotop" class="gotop"  href="javascript:$('html, body').animate({scrollTop: 0},300);;">
                <div class="img">
                    <img src="../images/gotop.png" alt="">
                </div>
            </a>
            <a href="">
                <div class="img">
                    <img src="../images/card-icon.png" alt="">
                </div>
                <div class="txt">购物车</div>
            </a>
            <a href="">
                <div class="img">
                    <img src="../images/member-icon.png" alt="">
                </div>
                <div class="txt">个人中心</div>
            </a>
        </div>
    </div>
</body>
</html>