<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- css -->
    <link rel="stylesheet" href="../css/swiper.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://at.alicdn.com/t/font_992693_elpsc6vgmq.css">
    <!-- js -->
    <script src="../js/jquery-1.11.3.min.js"></script>
    <script src="../js/swiper.min.js"></script>
    <script src="../js/rem.js"></script>
    <title>产品详情</title>
</head>
<body>
    <div class="productinfo">
        <div class="mycenter">
            <div class="productimg">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="../images/productdesc.png" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img src="../images/productdesc.png" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img src="../images/productdesc.png" alt="">
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
            <div class="productdesc">
                <div class="share">
                    <i class="iconfont icon-20"></i>
                </div>
                <div class="productname">
                    拼团|意大利泰利蒙特酒庄慕达干红葡萄酒
                </div>
                <div class="producttxt">
                    意大利经典红酒，酒评家HOME推荐酒款。
                </div>
                <div class="money">
                    <span class="moneytxt">拼团价:</span>
                    <span class="moneynum">￥1380</span>
                    <span class="moneydel"><del>￥3000</del></span>
                </div>
            </div>
        </div>
    </div>
    <div class="express">
        <div class="mycenter">
            <div class="express-l">
                <span class="xl">总销量：30</span>
                <span class="isexpress">快递</span>
                <span>免运费</span>
            </div>
            <div class="express-r">
                太原市
            </div>
        </div>
    </div>
    <div class="rule">
        <div class="mycenter">
            <div class="tit">
                拼团规则
            </div>
            <p>1.</p>
            <p>2.</p>
            <p>3.</p>
            <p>4.</p>
            <p>5.</p>
            <p>6.</p>
            <div class="img">
                <img src="../images/productdesc.png" alt="详情图片">
                <img src="../images/productdesc.png" alt="详情图片">
                <img src="../images/productdesc.png" alt="详情图片">
                <img src="../images/productdesc.png" alt="详情图片">
            </div>
        </div>
    </div>   
    <!--  -->
    <div class="product-foot">
        <a class="zx" href="">
            <span><i class="iconfont icon-zixun"></i></span>
            <span>咨询</span>
        </a>
        <a class="sc" href="javascript:;">
            <span><i class="iconfont icon-shoucang1"></i></span>
            <span>收藏</span>
        </a>
        <a class="kt" href="">立即开团</a>
    </div>
</body>
</html><script>
    $(function(){
        var swiper = new Swiper('.swiper-container', {
            pagination: {
                el: '.swiper-pagination',
            },
        });
    })
</script>