<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- css -->
    <link rel="stylesheet" href="https://at.alicdn.com/t/font_992693_ypgvy0k9mhr.css">
    <link rel="stylesheet" href="../css/swiper.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <!-- js -->
    <script src="../js/jquery.min.js"></script>
    <script src="../js/main.js"></script>
    <script src="../js/swiper.min.js"></script>
    <script src="../js/rem.js"></script>
    <title>产品详情</title>
</head>
<body>
    <div class="productinfo">
            <div class="productimg">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="../images/productdesc.png" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img src="../images/productdesc.png" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img src="../images/productdesc.png" alt="">
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        <div class="mycenter">
            <div class="productdesc">
                <div class="share">
                    <i class="iconfont icon-20"></i>
                </div>
                <div class="productname">
                    拼团|意大利泰利蒙特酒庄慕达干红葡萄酒
                </div>
                <div class="producttxt">
                    意大利经典红酒，酒评家HOME推荐酒款。
                </div>
                <div class="money">
                    <span class="moneytxt">拼团价:</span>
                    <span class="moneynum">￥1380</span>
                    <span class="moneydel"><del>￥3000</del></span>
                </div>
            </div>
        </div>
    </div>
    <div class="express">
        <div class="mycenter">
            <div class="express-l">
                <span class="xl">总销量：30</span>
                <span class="isexpress">快递</span>
                <span class="isfree">免运费</span>
            </div>
            <div class="express-r">
                太原市
            </div>
        </div>
    </div>
    <div class="rule">
        <div class="mycenter">
            <div class="tit">
                拼团规则
            </div>
            <p>1.此团为尝鲜团，每位用户均可参团一次，开团次数不限。</p>
            <p>2.此团为2人团，每增加1个人价格会降一档。</p>
            <p>3.前两个人支付的价格为当前对应人数的价格，若完成拼团时价格更低，多出的差额将退回微信钱包。</p>
            <p>4.每次发起拼团后有24小时的拼团时间，24小时候自动结束拼团</p>
            <p>4.1若人数小于2人，则拼团失败，24小时后金额将原路返还</p>
            <p>4.2若人数大于等于2人，则拼团成功，24小时后自动完成订单。</p>
            <p>4.3若人数达到该团上限，则拼团成功，自动完成当前拼团订单。</p>
            <p>5.请确认填写地址正确，拼团成功后快递将在3个工作日内发出，详情请进入服务号[山西红酒精选] - 个人中心一我的订单，查看</p>
            <p>6.因拼团商品具有特殊性，参与拼团且拼团成功后概不退款。</p>
            <div class="img">
                <img src="../images/descimg.png" alt="详情图片">
            </div>
        </div>
    </div>   
    <!--  -->
    <div class="product-foot">
        <a class="zx" href="">
            <span><i class="iconfont icon-zixun"></i></span>
            <span>咨询</span>
        </a>
        <a class="sc" href="javascript:;">
            <span><i class="iconfont icon-shoucang1"></i></span>
            <span>收藏</span>
        </a>
        <a class="kt" href="">立即开团</a>
    </div>
</body>
</html><script>
    $(function(){
        var swiper = new Swiper('.swiper-container', {
            pagination: {
                el: '.swiper-pagination',
            },
        });
    })
</script>