<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- css -->
    <link rel="stylesheet" href="https://at.alicdn.com/t/font_992693_ypgvy0k9mhr.css">
    <link rel="stylesheet" href="../css/style.css">
    <!-- js -->
    <script src="../js/jquery.min.js"></script>
    <script src="../js/main.js"></script>
    <script src="../js/rem.js"></script>
    <title>重置密码</title>
</head>
<body>
    <!-- 头部 -->
    <div class="head">
        <div class="mycenter">
            <a href="javascript:;" onclick="window.history.back();" class="return">
                <i class="iconfont icon-zuojiantou"></i>
            </a>
            <div class="title">重置密码</div>
            <a href="" class="cart">
                <!-- <i class="iconfont icon-gouwuche"></i> -->
            </a>
        </div>
    </div>
    <div class="margint"></div>
    <!-- form -->
    <form action="" method="" id="resetPassword">
        <div class="mycenter">
            <label for="">
                <span class="">重置密码<i></i></span>
                <input type="text" name="phone" placeholder="请输入新密码">
            </label>
            <label for="">
                <span class="">确认密码<i></i></span>
                <input type="text" name="phone" placeholder="请确认新密码">
            </label>
            <button type="submit">提交</button>
        </div>
    </form>
</body>
</html>